body {
  background-color: #27cece;
}
.app {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f71d83;
}
input {
  outline: none;
  width: 40vw;
  height: 55px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 20px;
  line-height: normal;
  border-top: none;
  border-left: none;
  text-align: center;
  border-right: none;
  background-color: #27cece;
  border-bottom: 3px solid white;
}
button {
  height: 60px;
  width: 100px;
  background-color: #fa53a0;
  font-weight: bold;
  color: white;
  font-size: 20px;
  outline: 0;
  border: 0;
}

ul {
  padding: 0;
  margin-top: 5vh;
  width: 56vw;
  text-align: center;
}

li {
  list-style: none;
  font-weight: bold;
  padding-bottom: 20px;
}
