body {
  background-color: #27cece;
}
.app {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f71d83;
}
.todoinput {
  outline: none;
  width: 40vw;
  height: 2.1em;
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding: 0px 20px;
  line-height: normal;
  border-top: none;
  border-left: none;
  text-align: center;
  border-right: none;
  background-color: #27cece;
  border-bottom: 3px solid white;
}
.todoBtn {
  height: 60px;
  width: 100px;
  background-color: #fa53a0;
  font-weight: bold;
  color: white;
  font-size: 20px;
  outline: 0;
  border: 0;
}

ul {
  padding: 0;
  margin-top: 10vh;
  width: 44vw;

  text-align: center;
}
.listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

li {
  list-style: none;
}

.listInput {
  list-style: none;
  font-weight: bold;
  font-size: 3vw;
  color: #f71d83;
  border: none;
  outline: none;
  text-align: center;
  padding: 0;
  background-color: transparent;
  border-bottom: 3px solid white;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 4em;
}
.btn {
  width: 30px;
  height: 30px;
  background-color: #fa53a0;
  color: white;
  outline: 0;
  border: 0;
}
.complete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #f71d83;
}
.listText {
  font-size: 3vw;
  width: 579px;
  color: #f71d83;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  white-space: nowrap;
}
